Repository DASPRiD/taxum: changes, and which Codecov flags are due for each by the changed paths.
All: Core, FS, JWT

feat(core): store connect info as request extension (#59)
  packages/core/src/http/request.ts
  packages/core/src/middleware/client-ip.ts
  packages/core/test/http/request.test.ts
  packages/core/test/middleware/client-ip.test.ts
  packages/docs/src/guide/middleware/client-ip.md
Due: Core

fix(core): cancel discarded response bodies for HEAD and CONNECT
  packages/core/src/routing/route.ts
  packages/core/test/routing/route.test.ts
Due: Core

test(core): cover cancellation errors from discarded bodies
  packages/core/test/routing/route.test.ts
Due: Core

fix(core): cancel discarded response bodies for HEAD and CONNECT (#60)
  packages/core/src/routing/route.ts
  packages/core/test/routing/route.test.ts
Due: Core

docs(core): document SSE graceful shutdown and disconnect handling
  packages/docs/src/guide/core-concepts/sse.md
Due: none

feat(core): add Server-Sent Events (SSE) support
  packages/core/package.json
  packages/core/src/sse/event.ts
  packages/core/src/sse/index.ts
  packages/core/src/sse/sse.ts
  packages/core/test/sse/event.test.ts
  packages/core/test/sse/sse.test.ts
  packages/docs/.vitepress/config.mts
  packages/docs/src/guide/core-concepts/sse.md
Due: Core

fix(core): respect backpressure and cancellation in SSE keep-alive
  packages/core/package.json
  packages/core/src/sse/sse.ts
  packages/core/test/sse/sse.test.ts
Due: Core

docs(core): fix SSE reconnection example and header list
  packages/docs/src/guide/core-concepts/sse.md
Due: none

feat(core): add Server-Sent Events (SSE) support (#50)
  packages/core/package.json
  packages/core/src/sse/event.ts
  packages/core/src/sse/index.ts
  packages/core/src/sse/sse.ts
  packages/core/test/sse/event.test.ts
  packages/core/test/sse/sse.test.ts
  packages/docs/.vitepress/config.mts
  packages/docs/src/guide/core-concepts/sse.md
Due: Core

ci: allow deps, deps-dev, and docs scopes in PR titles
  .github/workflows/conventional-pr-title.yml
Due: none

ci: allow deps, deps-dev, and docs scopes in PR titles (#61)
  .github/workflows/conventional-pr-title.yml
Due: none

chore: update dev dependencies
  biome.json
  package.json
  packages/cookie/package.json
  packages/cookie/test/cookie.test.ts
  packages/docs/package.json
  pnpm-lock.yaml
Due: none

chore: update dev dependencies (#62)
  biome.json
  package.json
  packages/cookie/package.json
  packages/cookie/test/cookie.test.ts
  packages/docs/package.json
  pnpm-lock.yaml
Due: none

fix(core): preserve multiple values per key in HeaderMap.extend
  packages/core/src/http/headers.ts
  packages/core/test/http/headers.test.ts
Due: Core

fix(core): tolerate content-type params and malformed content-type in extractors
  packages/core/src/extract/form.ts
  packages/core/src/extract/json.ts
  packages/core/test/extract/form.test.ts
  packages/core/test/extract/json.test.ts
Due: Core

fix(core): consistent route maps on conflict and fallback HEAD length
  packages/core/src/routing/path-router.ts
  packages/core/src/routing/router.ts
  packages/core/test/routing/path-router.test.ts
  packages/core/test/routing/router.test.ts
Due: Core

fix(core): cancel a discarded leading response body in HttpResponse.from
  packages/core/src/http/response.ts
  packages/core/test/http/response.test.ts
Due: Core

fix(cookie): harden cookie parsing, signing, and encoding
  packages/cookie/src/cookie.ts
  packages/cookie/src/signed.ts
  packages/cookie/test/cookie.test.ts
  packages/cookie/test/signed.test.ts
Due: none

fix(fs): serve the appended index file and return 404 for malformed paths
  packages/fs/src/open-file.ts
  packages/fs/src/serve-dir.ts
  packages/fs/src/util.ts
  packages/fs/test/serve-dir-serving.test.ts
Due: FS

docs: fix broken code examples across the guide
  packages/docs/.vitepress/config.mts
  packages/docs/src/guide/addons/cookie.md
  packages/docs/src/guide/addons/jwt.md
  packages/docs/src/guide/core-concepts/extensions.md
  packages/docs/src/guide/core-concepts/middleware.md
  packages/docs/src/guide/core-concepts/testing.md
  packages/docs/src/guide/getting-started.md
Due: none

fix(core): arm the SSE keep-alive timer lazily on first read
  packages/core/src/sse/sse.ts
  packages/core/test/sse/sse.test.ts
Due: Core

docs: correct DISCONNECT_SIGNAL usage guidance
  packages/core/src/server/index.ts
  packages/docs/src/guide/core-concepts/sse.md
Due: Core

fix(core): reject wildcard CORS rules with a credentials predicate
  packages/core/src/middleware/cors/allow-credentials.ts
  packages/core/src/middleware/cors/index.ts
  packages/core/test/middleware/cors/allow-credentials.test.ts
  packages/core/test/middleware/cors/index.test.ts
Due: Core

fix(core): correct body-limit boundary and always vary on compression candidates
  packages/core/src/middleware/compression.ts
  packages/core/src/middleware/limit.ts
  packages/core/test/middleware/compression.test.ts
  packages/core/test/middleware/limit.test.ts
Due: Core

feat(core): add spoofing-resistant trusted-hop client IP extraction
  packages/core/src/middleware/client-ip.ts
  packages/core/test/middleware/client-ip.test.ts
Due: Core

fix(core): scope signal handlers and clean up listeners on serve() failure
  packages/core/src/server/index.ts
  packages/core/test/server/index.test.ts
Due: Core

fix(core): scope signal handlers and clean up listeners on serve() failure (#70)
  packages/core/src/server/index.ts
  packages/core/test/server/index.test.ts
Due: Core

docs: correct DISCONNECT_SIGNAL usage guidance (#74)
  packages/core/src/server/index.ts
  packages/docs/src/guide/core-concepts/sse.md
Due: Core

docs: fix broken code examples across the guide (#71)
  packages/docs/.vitepress/config.mts
  packages/docs/src/guide/addons/cookie.md
  packages/docs/src/guide/addons/jwt.md
  packages/docs/src/guide/core-concepts/extensions.md
  packages/docs/src/guide/core-concepts/middleware.md
  packages/docs/src/guide/core-concepts/testing.md
  packages/docs/src/guide/getting-started.md
Due: none

fix(core): preserve multiple values per key in HeaderMap.extend (#63)
  packages/core/src/http/headers.ts
  packages/core/test/http/headers.test.ts
Due: Core

fix(cookie): harden cookie parsing, signing, and encoding (#64)
  packages/cookie/src/cookie.ts
  packages/cookie/src/signed.ts
  packages/cookie/test/cookie.test.ts
  packages/cookie/test/signed.test.ts
Due: none

fix(core): arm the SSE keep-alive timer lazily on first read (#73)
  packages/core/src/sse/sse.ts
  packages/core/test/sse/sse.test.ts
Due: Core

feat(core): add spoofing-resistant trusted-hop client IP extraction (#75)
  packages/core/src/middleware/client-ip.ts
  packages/core/test/middleware/client-ip.test.ts
Due: Core

fix(core): cancel a discarded leading response body in HttpResponse.from (#72)
  packages/core/src/http/response.ts
  packages/core/test/http/response.test.ts
Due: Core

fix(core): keep route maps consistent on conflict and set Content-Length on fallback HEAD (#69)
  packages/core/src/routing/path-router.ts
  packages/core/src/routing/router.ts
  packages/core/test/routing/path-router.test.ts
  packages/core/test/routing/router.test.ts
Due: Core

fix(fs): serve the appended index file and return 404 for malformed paths (#66)
  packages/fs/src/open-file.ts
  packages/fs/src/serve-dir.ts
  packages/fs/src/util.ts
  packages/fs/test/serve-dir-serving.test.ts
Due: FS

fix(core): correct body-limit boundary and always vary on compression candidates (#68)
  packages/core/src/middleware/compression.ts
  packages/core/src/middleware/limit.ts
  packages/core/test/middleware/compression.test.ts
  packages/core/test/middleware/limit.test.ts
Due: Core

fix(core): tolerate content-type parameters and malformed content-type in extractors (#67)
  packages/core/src/extract/form.ts
  packages/core/src/extract/json.ts
  packages/core/test/extract/form.test.ts
  packages/core/test/extract/json.test.ts
Due: Core

fix(core): reject wildcard CORS rules with a credentials predicate (#65)
  packages/core/src/middleware/cors/allow-credentials.ts
  packages/core/src/middleware/cors/index.ts
  packages/core/test/middleware/cors/allow-credentials.test.ts
  packages/core/test/middleware/cors/index.test.ts
Due: Core

fix(core): prevent a __proto__ header from reparenting serialized output
  packages/core/src/http/headers.ts
  packages/core/test/http/headers.test.ts
Due: Core

Path conditions:
  Core: any of: packages/core/**
  FS: any of: packages/fs/**
  JWT: any of: packages/jwt/**
