Repository DASPRiD/taxum: changes, and which Codecov flags are due for each by the changed paths.
All: Core, FS, JWT

chore: add description to all packages
  packages/cookie/package.json
  packages/core/package.json
  packages/fs/package.json
  packages/jwt/package.json
Due: Core, FS, JWT

docs: replace main typedoc documentation with vitepress
  .github/workflows/docs.yml
  .github/workflows/release-please.yml
  docs/getting-started.md
  docs/layering.md
  package.json
  packages/docs/.gitignore
  packages/docs/.vitepress/config.mts
  packages/docs/.vitepress/theme/index.ts
  packages/docs/.vitepress/theme/style.css
  packages/docs/package.json
  packages/docs/src/guide/addons/fs.md
  packages/docs/src/guide/addons/jwt.md
  packages/docs/src/guide/core-concepts/error-handling.md
  packages/docs/src/guide/core-concepts/extensions.md
  packages/docs/src/guide/core-concepts/extract-handlers.md
  packages/docs/src/guide/core-concepts/handlers.md
  packages/docs/src/guide/core-concepts/logging.md
  packages/docs/src/guide/core-concepts/nesting.md
  packages/docs/src/guide/core-concepts/testing.md
  packages/docs/src/guide/getting-started.md
  packages/docs/src/guide/index.md
  packages/docs/src/guide/layers/client-ip.md
  packages/docs/src/guide/layers/compression.md
  packages/docs/src/guide/layers/cors.md
  packages/docs/src/guide/layers/decompression.md
  packages/docs/src/guide/layers/index.md
  packages/docs/src/guide/layers/limit.md
  packages/docs/src/guide/layers/request-id.md
  packages/docs/src/index.md
  packages/docs/src/public/code.png
  packages/docs/src/public/icon-white.svg
  packages/docs/src/public/icon.svg
  packages/docs/tsconfig.json
  pnpm-lock.yaml
  typedoc.json
Due: none

style: run biome format
  packages/docs/.vitepress/config.mts
Due: none

chore(docs): import typedoc-sidebar in try block
  packages/docs/.vitepress/config.mts
Due: none

docs(docs): update middleware documentation
  packages/docs/.vitepress/config.mts
  packages/docs/src/guide/core-concepts/middleware.md
  packages/docs/src/guide/layers/index.md
Due: none

feat: return every error as a ClientError
  packages/core/src/extract/error.ts
  packages/core/src/extract/form.ts
  packages/core/src/extract/json.ts
  packages/core/src/middleware/limit.ts
  packages/core/src/util/client-error.ts
  packages/core/src/util/index.ts
  packages/core/test/middleware/limit.test.ts
  packages/core/test/util/catch-error.ts
  packages/jwt/src/index.ts
  packages/jwt/test/index.test.ts
Due: Core, JWT

feat: expand logging proxy
  packages/core/src/logger/index.ts
  packages/core/src/logging/index.ts
  packages/core/src/routing/route.ts
  packages/core/src/routing/router.ts
  packages/core/src/server/index.ts
  packages/core/src/util/eror-handler.ts
  packages/core/test/logger/index.test.ts
  packages/docs/src/guide/core-concepts/logging.md
Due: Core

feat(core): add trace middleware
  packages/core/package.json
  packages/core/src/http/headers.ts
  packages/core/src/middleware/builder.ts
  packages/core/src/middleware/trace.ts
  packages/core/test/logging/index.test.ts
  packages/core/test/middleware/builder.test.ts
  packages/core/test/middleware/client-ip.test.ts
  packages/core/test/middleware/trace.test.ts
  packages/docs/.vitepress/config.mts
  packages/docs/src/guide/core-concepts/middleware.md
  packages/docs/src/guide/middleware/trace.md
Due: Core

fix(fs): update logger usage
  packages/core/package.json
  packages/fs/src/serve-dir.ts
Due: Core, FS

feat(core): rename globalLogger to loggerProxy
  packages/core/src/logging/index.ts
  packages/core/src/middleware/trace.ts
  packages/core/src/routing/route.ts
  packages/core/src/routing/router.ts
  packages/core/src/server/index.ts
  packages/core/src/util/eror-handler.ts
  packages/core/test/logging/index.test.ts
  packages/docs/src/guide/core-concepts/logging.md
  packages/fs/src/serve-dir.ts
Due: Core, FS

feat(core): add withOptionLayer to ServiceBuilder
  packages/core/src/middleware/builder.ts
  packages/core/test/middleware/builder.test.ts
Due: Core

chore(deps): bump mermaid version
  packages/docs/package.json
  pnpm-lock.yaml
Due: none

feat: add set-header middleware
  packages/core/src/middleware/builder.ts
  packages/core/src/middleware/set-header.ts
  packages/core/test/middleware/builder.test.ts
  packages/core/test/middleware/set-header.test.ts
  packages/docs/src/guide/middleware/request-id.md
  packages/docs/src/guide/middleware/set-header.md
Due: Core

feat: exchange legacy Node.js stream with WHATWG streams
  packages/core/test/http/body.test.ts
  packages/core/test/middleware/compression.test.ts
Due: Core

feat(core): allow creating HttpResponse from undici Response
  packages/core/src/http/response.ts
  packages/core/test/http/response.test.ts
Due: Core

feat(core): use Transform.toWeb() to apply Node.js transforms
  packages/core/src/middleware/compression.ts
  packages/core/src/middleware/decompression.ts
  packages/core/src/util/index.ts
  packages/core/src/util/stream.ts
  packages/core/test/util/stream.test.ts
Due: Core

docs(docs): add Set Header docs to sidebar
  packages/docs/.vitepress/config.mts
Due: none

feat(core): add sensitive-headers middleware
  packages/core/package.json
  packages/core/src/middleware/builder.ts
  packages/core/src/middleware/sensitive-headers.ts
  packages/docs/.vitepress/config.mts
  packages/docs/src/guide/middleware/sensitive-headers.md
Due: Core

test(core): add tests for sensitive headers middleware
  packages/core/test/middleware/sensitive-headers.test.ts
Due: Core

fix(core): make InsertHeaderMode constants read-only
  packages/core/src/middleware/set-header.ts
Due: Core

feat(core): add better debugging to HTTP components
  packages/core/src/http/extensions.ts
  packages/core/src/http/headers.ts
  packages/core/src/http/method.ts
  packages/core/src/http/request.ts
  packages/core/src/http/response.ts
  packages/core/src/http/status.ts
  packages/core/src/middleware/cors/allow-methods.ts
  packages/core/test/http/extensions.test.ts
  packages/core/test/http/headers.test.ts
  packages/core/test/http/method.test.ts
  packages/core/test/http/request.test.ts
  packages/core/test/http/response.test.ts
  packages/core/test/http/status.test.ts
  packages/core/test/routing/method-router.test.ts
Due: Core

docs: add cookie documentation
  packages/cookie/src/private.ts
  packages/docs/.vitepress/config.mts
  packages/docs/src/guide/addons/cookie.md
Due: none

build: only include dist folder
  packages/cookie/package.json
  packages/core/README.md
  packages/core/package.json
  packages/fs/package.json
  packages/jwt/package.json
Due: Core, FS, JWT

feat(cookie): allow max age units which require relativeTo now
  packages/cookie/package.json
  packages/cookie/src/cookie.ts
  packages/cookie/test/cookie.test.ts
  pnpm-lock.yaml
Due: none

fix(cookie): import global temporal-spec
  packages/cookie/package.json
  packages/cookie/src/cookie.ts
  pnpm-lock.yaml
Due: none

feat(core): add header extractor
  packages/core/src/extract/header.ts
  packages/core/test/extract/header.test.ts
  packages/docs/src/guide/core-concepts/extract-handlers.md
Due: Core

fix(core): export header extractor from extract namespace
  packages/core/src/extract/index.ts
  packages/core/test/extract/header.test.ts
Due: Core

feat: replace extractHandler with new createExtractHandler builder
  packages/core/src/routing/handler.ts
  packages/core/test/routing/handler.test.ts
  packages/docs/src/guide/core-concepts/extract-handlers.md
Due: Core

fix(example): update examples with new createExtractHandler
  packages/examples/src/json.ts
  packages/examples/src/path-param.ts
Due: none

fix(core): update createExtractHandler typings and remove legacy types
  packages/core/src/routing/handler.ts
Due: Core

fix(core): add missing typehint to ORIGINAL_URI extension
  packages/core/src/routing/router.ts
Due: Core

chore(core): release 1.0.0
  packages/core/package.json
Due: Core

chore(cookie): release 1.0.0
  packages/cookie/package.json
Due: none

chore(fs): release 1.0.0
  packages/fs/package.json
Due: FS

chore(jwt): release 1.0.0
  packages/jwt/package.json
Due: JWT

docs(docs): fix extension extractor link
  packages/docs/src/guide/core-concepts/extensions.md
Due: none

docs: update github link in header
  packages/docs/.vitepress/config.mts
Due: none

Path conditions:
  Core: any of: packages/core/**
  FS: any of: packages/fs/**
  JWT: any of: packages/jwt/**
