Repository DASPRiD/taxum: changes, and which Codecov flags are due for each by the changed paths.
All: Core, JWT

test(core): add routing tests
  packages/core/src/extract/form.ts
  packages/core/src/http/extensions.ts
  packages/core/src/http/method.ts
  packages/core/src/http/request.ts
  packages/core/src/http/response.ts
  packages/core/src/http/status.ts
  packages/core/src/layer/cors/index.ts
  packages/core/src/layer/cors/internal.ts
  packages/core/src/routing/fallback.ts
  packages/core/src/routing/index.ts
  packages/core/src/routing/method-router.ts
  packages/core/src/routing/path-router.ts
  packages/core/src/routing/router.ts
  packages/core/src/routing/service.ts
  packages/core/src/server/index.ts
  packages/core/test/routing/fallback.test.ts
  packages/core/test/routing/handler.test.ts
  packages/core/test/routing/method-filter.test.ts
  packages/core/test/routing/method-router.test.ts
  packages/core/test/routing/path-router.test.ts
  packages/core/test/routing/router.test.ts
  packages/core/test/routing/service.test.ts
  packages/core/test/server/index.test.ts
Due: Core

test(core): add http tests
  packages/core/package.json
  packages/core/src/extract/form.ts
  packages/core/src/http/body.ts
  packages/core/src/http/common.ts
  packages/core/src/http/extensions.ts
  packages/core/src/http/index.ts
  packages/core/src/http/response.ts
  packages/core/src/layer/cors/index.ts
  packages/core/src/routing/method-router.ts
  packages/core/test/http/body.test.ts
  packages/core/test/http/common.test.ts
  packages/core/test/http/extensions.test.ts
  packages/core/test/http/headers.test.ts
  packages/core/test/http/method.test.ts
  packages/core/test/http/request.test.ts
  packages/core/test/http/response.test.ts
  packages/core/test/http/size-hint.test.ts
  packages/core/test/http/status.test.ts
  packages/jwt/test/index.test.ts
  pnpm-lock.yaml
Due: Core, JWT

test(jwt): add missing import
  packages/jwt/test/index.test.ts
Due: JWT

test(core): add extract tests
  packages/core/package.json
  packages/core/src/extract/extension.ts
  packages/core/src/extract/form.ts
  packages/core/src/extract/index.ts
  packages/core/src/extract/json.ts
  packages/core/src/extract/path.ts
  packages/core/src/extract/query.ts
  packages/core/src/extract/raw-query.ts
  packages/core/src/http/request.ts
  packages/core/src/layer/client-ipr.ts
  packages/core/src/layer/index.ts
  packages/core/test/extract/extension.test.ts
  packages/core/test/extract/form.test.ts
  packages/core/test/extract/json.test.ts
  packages/core/test/extract/path.test.ts
  packages/core/test/extract/query.test.ts
  packages/core/test/extract/raw-query.test.ts
  packages/core/test/http/request.test.ts
  packages/core/test/http/response.test.ts
  packages/core/test/routing/method-router.test.ts
  pnpm-lock.yaml
Due: Core

feat(routing): rewrite service architecture
  packages/core/src/extract/json.ts
  packages/core/src/http/headers.ts
  packages/core/src/http/index.ts
  packages/core/src/http/response.ts
  packages/core/src/layer/client-ip.ts
  packages/core/src/layer/client-ipr.ts
  packages/core/src/layer/compression.ts
  packages/core/src/layer/cors/index.ts
  packages/core/src/layer/decompression.ts
  packages/core/src/layer/index.ts
  packages/core/src/layer/limit.ts
  packages/core/src/layer/request-id.ts
  packages/core/src/layer/set-status.ts
  packages/core/src/routing/fallback.ts
  packages/core/src/routing/handler.ts
  packages/core/src/routing/index.ts
  packages/core/src/routing/layer.ts
  packages/core/src/routing/method-router.ts
  packages/core/src/routing/path-router.ts
  packages/core/src/routing/route.ts
  packages/core/src/routing/router.ts
  packages/core/src/routing/service.ts
  packages/core/src/routing/util.ts
  packages/core/test/extract/json.test.ts
  packages/core/test/http/headers.test.ts
  packages/core/test/http/response.test.ts
  packages/core/test/routing/fallback.test.ts
  packages/core/test/routing/handler.test.ts
  packages/core/test/routing/method-router.test.ts
  packages/core/test/routing/path-router.test.ts
  packages/core/test/routing/route.test.ts
  packages/core/test/routing/router.test.ts
  packages/core/test/routing/service.test.ts
  packages/core/test/routing/util.test.ts
  packages/core/test/server/index.test.ts
  packages/jwt/src/index.ts
  packages/jwt/test/index.test.ts
Due: Core, JWT

test: clean up tests
  packages/core/test/http/body.test.ts
  packages/core/test/http/extensions.test.ts
  packages/core/test/http/method.test.ts
  packages/core/test/http/status.test.ts
  packages/core/test/routing/fallback.test.ts
  packages/core/test/routing/path-router.test.ts
Due: Core

test(core): fix server tests
  packages/core/src/server/index.ts
  packages/core/test/server/index.test.ts
  packages/examples/src/layers.ts
Due: Core

feat(core): add single path param extractor
  packages/core/src/extract/path.ts
  packages/core/test/extract/path.test.ts
Due: Core

docs: update documentation
  README.md
  packages/core/README.md
  packages/fs/README.md
  packages/jwt/README.md
  packages/jwt/src/index.ts
  typedoc.json
Due: Core, JWT

test(core): add defaultErrorHandler tests
  packages/core/src/routing/eror-handler.ts
  packages/core/test/routing/error-handler.test.ts
Due: Core

chore(release-please): enable prerelease
  release-please-config.json
Due: none

chore(release-please): set prerelease-type
  README.md
  release-please-config.json
Due: none

ci: add manual workflow_dispatch to release-please
  .github/workflows/release-please.yml
Due: none

chore: release 1.0.0-rc1
  release-please-config.json
Due: none

chore: release 1.0.0-rc1
  .release-please-manifest.json
  release-please-config.json
Due: none

fix(core): apply defaults to FnLayer templates
  packages/core/src/routing/layer.ts
Due: Core

feat(core): rename handler() to extractHandler() and support positional argument extractors
  packages/core/src/routing/handler.ts
  packages/core/test/routing/handler.test.ts
  packages/examples/src/json.ts
  packages/examples/src/path-param.ts
Due: Core

docs: add initial guides
  .github/workflows/docs.yml
  .gitignore
  docs/authentication.md
  docs/error-handling.md
  docs/extensions.md
  docs/getting-started.md
  docs/layering.md
  docs/logging.md
  docs/nesting.md
  docs/static-files.md
  docs/testing.md
  package.json
  pnpm-lock.yaml
  typedoc.json
Due: none

docs: update docs links to taxum.js.org
  README.md
  packages/core/README.md
  packages/fs/README.md
  packages/jwt/README.md
Due: Core, JWT

docs: fix typo
  README.md
  packages/core/README.md
  packages/fs/README.md
  packages/jwt/README.md
Due: Core, JWT

ci: fix indentation in codecov.yml
  codecov.yml
Due: none

ci: move coverage report up to root
  package.json
  packages/core/package.json
  packages/examples/package.json
  packages/fs/package.json
  packages/jwt/package.json
Due: Core, JWT

feat(core): add serviceLayerFn helper
  packages/core/src/routing/layer.ts
  packages/core/src/routing/service.ts
  packages/core/test/routing/layer.test.ts
  packages/core/test/routing/service.test.ts
Due: Core

fix(core): update Layer usage typings
  packages/core/src/routing/endpoint.ts
  packages/core/src/routing/method-router.ts
  packages/core/src/routing/path-router.ts
  packages/core/src/routing/route.ts
  packages/core/src/routing/router.ts
Due: Core

chore(fs): remove duplicate @types/node dev dependency
  package.json
  packages/fs/package.json
  pnpm-lock.yaml
Due: none

test(core): fix typing issue with mock ServerResponse
  packages/core/package.json
  packages/core/test/http/response.test.ts
  pnpm-lock.yaml
Due: Core

feat: add ToHttpResponseParts and update ToHttpResponse to use unique symbols
  docs/getting-started.md
  packages/core/src/extract/error.ts
  packages/core/src/http/body.ts
  packages/core/src/http/common.ts
  packages/core/src/http/extensions.ts
  packages/core/src/http/headers.ts
  packages/core/src/http/index.ts
  packages/core/src/http/response.ts
  packages/core/src/http/status.ts
  packages/core/src/http/to-response-parts.ts
  packages/core/src/http/to-response.ts
  packages/core/src/layer/limit.ts
  packages/core/src/routing/eror-handler.ts
  packages/core/test/extract/form.test.ts
  packages/core/test/extract/json.test.ts
  packages/core/test/extract/path.test.ts
  packages/core/test/extract/query.test.ts
  packages/core/test/http/body.test.ts
  packages/core/test/http/common.test.ts
  packages/core/test/http/extensions.test.ts
  packages/core/test/http/response.test.ts
  packages/core/test/http/status.test.ts
  packages/core/test/layer/cors/index.test.ts
  packages/core/test/layer/limit.test.ts
  packages/core/test/routing/error-handler.test.ts
  packages/core/test/server/index.test.ts
  packages/fs/src/serve-dir.ts
  packages/jwt/src/index.ts
Due: Core, JWT

feat: add cookie package
  .release-please-manifest.json
  codecov.yml
  packages/cookie/README.md
  packages/cookie/package.json
  packages/cookie/src/cookie.ts
  packages/cookie/src/extract.ts
  packages/cookie/src/index.ts
  packages/cookie/src/jar.ts
  packages/cookie/src/private.ts
  packages/cookie/src/signed.ts
  packages/cookie/test/cookie.test.ts
  packages/cookie/test/extract.test.ts
  packages/cookie/test/jar.test.ts
  packages/cookie/test/private.test.ts
  packages/cookie/test/signed.test.ts
  packages/cookie/tsconfig.build.json
  packages/cookie/tsconfig.json
  packages/core/src/http/headers.ts
  pnpm-lock.yaml
  release-please-config.json
Due: Core

feat: add cookie package (#17)
  .release-please-manifest.json
  codecov.yml
  packages/cookie/README.md
  packages/cookie/package.json
  packages/cookie/src/cookie.ts
  packages/cookie/src/extract.ts
  packages/cookie/src/index.ts
  packages/cookie/src/jar.ts
  packages/cookie/src/private.ts
  packages/cookie/src/signed.ts
  packages/cookie/test/cookie.test.ts
  packages/cookie/test/extract.test.ts
  packages/cookie/test/jar.test.ts
  packages/cookie/test/private.test.ts
  packages/cookie/test/signed.test.ts
  packages/cookie/tsconfig.build.json
  packages/cookie/tsconfig.json
  packages/core/src/http/headers.ts
  pnpm-lock.yaml
  release-please-config.json
Due: Core

chore: fix cookie package name
  packages/cookie/package.json
Due: none

Path conditions:
  Core: any of: packages/core/**
  JWT: any of: packages/jwt/**
