Repository DASPRiD/taxum: changes, and which Codecov flags are due for each by the changed paths.
All: Core, FS, JWT

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - packages/core/**
    - component_id: fs
      name: FS
      paths:
          - packages/fs/**
    - component_id: jwt
      name: JWT
      paths:
        - packages/jwt/**

fix(core): match a literal dot in the q-value pattern
  packages/core/src/http/content-encoding.ts
  packages/core/test/http/content-encoding.test.ts
Due: Core

fix(cookie): accept a signed cookie with an empty value
  packages/cookie/src/signed.ts
  packages/cookie/test/signed.test.ts
Due: none

fix(fs): keep a real extension when identity encoding is negotiated
  packages/fs/src/open-file.ts
  packages/fs/test/open-file.test.ts
Due: FS

fix(core): correct framing for bodyless and empty-body responses
  packages/core/src/routing/route.ts
  packages/core/test/routing/route.test.ts
Due: Core

fix(cookie): accept a signed cookie with an empty value (#80)
  packages/cookie/src/signed.ts
  packages/cookie/test/signed.test.ts
Due: none

fix(core): correct framing for bodyless and empty-body responses (#79)
  packages/core/src/routing/route.ts
  packages/core/test/routing/route.test.ts
Due: Core

fix(core): match a literal dot in the q-value pattern (#78)
  packages/core/src/http/content-encoding.ts
  packages/core/test/http/content-encoding.test.ts
Due: Core

fix(cookie): bind the cookie name into the signed HMAC
  packages/cookie/src/signed.ts
  packages/cookie/test/signed.test.ts
Due: none

fix(core): prevent a __proto__ header from reparenting serialized output (#77)
  packages/core/src/http/headers.ts
  packages/core/test/http/headers.test.ts
Due: Core

fix(fs): keep a real extension when identity encoding is negotiated (#76)
  packages/fs/src/open-file.ts
  packages/fs/test/open-file.test.ts
Due: FS

fix(cookie): bind the cookie name into the signed HMAC (#81)
  packages/cookie/src/signed.ts
  packages/cookie/test/signed.test.ts
Due: none

fix(core): bump nested-search-params to 1.0.2
  packages/core/package.json
  pnpm-lock.yaml
Due: Core

fix(core): bump nested-search-params to 1.0.2 (#82)
  packages/core/package.json
  pnpm-lock.yaml
Due: Core

feat: add testing package
  packages/testing/package.json
  packages/testing/src/client.ts
  packages/testing/src/index.ts
  packages/testing/src/request.ts
  packages/testing/src/response.ts
  packages/testing/test/client.test.ts
  packages/testing/test/request.test.ts
  packages/testing/test/response.test.ts
  packages/testing/test/types.test.ts
  packages/testing/tsconfig.build.json
  packages/testing/tsconfig.json
  pnpm-lock.yaml
  release-please-config.json
Due: none

feat: add cookie jar to test client
  packages/testing/package.json
  packages/testing/src/client.ts
  packages/testing/src/index.ts
  packages/testing/src/jar.ts
  packages/testing/src/request.ts
  packages/testing/test/jar.test.ts
  pnpm-lock.yaml
Due: none

feat: add SSE support to test responses
  packages/testing/src/index.ts
  packages/testing/src/response.ts
  packages/testing/test/sse.test.ts
Due: none

docs: rewrite testing guide for the testing package
  packages/docs/src/guide/core-concepts/testing.md
Due: none

docs: complete testing package API reference
  packages/testing/src/index.ts
  packages/testing/src/request.ts
  packages/testing/src/response.ts
Due: none

test: close coverage gaps and register testing scope
  .github/workflows/conventional-pr-title.yml
  codecov.yml
  packages/testing/src/jar.ts
  packages/testing/src/response.ts
  packages/testing/test/jar.test.ts
  packages/testing/test/request.test.ts
  packages/testing/test/response.test.ts
  packages/testing/test/sse.test.ts
Due: none

test: ignore coverage on type-guarded and environment-dependent branches
  packages/testing/src/jar.ts
  packages/testing/src/response.ts
Due: none

feat: support exact-path lookup in test cookie jar
  packages/testing/src/jar.ts
  packages/testing/test/jar.test.ts
Due: none

feat: add testing package (#83)
  .github/workflows/conventional-pr-title.yml
  codecov.yml
  packages/docs/src/guide/core-concepts/testing.md
  packages/testing/package.json
  packages/testing/src/client.ts
  packages/testing/src/index.ts
  packages/testing/src/jar.ts
  packages/testing/src/request.ts
  packages/testing/src/response.ts
  packages/testing/test/client.test.ts
  packages/testing/test/jar.test.ts
  packages/testing/test/request.test.ts
  packages/testing/test/response.test.ts
  packages/testing/test/sse.test.ts
  packages/testing/test/types.test.ts
  packages/testing/tsconfig.build.json
  packages/testing/tsconfig.json
  pnpm-lock.yaml
  release-please-config.json
Due: none

fix(core): reject asterisk-form request targets deliberately
  packages/cookie/src/extract.ts
  packages/core/src/extract/extension.ts
  packages/core/src/extract/form.ts
  packages/core/src/extract/header.ts
  packages/core/src/extract/json.ts
  packages/core/src/extract/path.ts
  packages/core/src/extract/query.ts
  packages/core/src/extract/raw-query.ts
  packages/core/src/http/extensions.ts
  packages/core/src/http/request.ts
  packages/core/src/middleware/builder.ts
  packages/core/src/middleware/compression.ts
  packages/core/src/middleware/set-header.ts
  packages/core/src/server/index.ts
  packages/core/test/http/request.test.ts
Due: Core

chore(deps): bump postcss, fast-uri and dompurify past dependabot advisories
  pnpm-lock.yaml
Due: none

fix(core): keep response extensions through cors and compression
  packages/core/src/middleware/compression.ts
  packages/core/src/middleware/cors/index.ts
  packages/core/test/middleware/compression.test.ts
  packages/core/test/middleware/cors/index.test.ts
Due: Core

chore(deps): bump dev-toolchain transitives past dependabot advisories
  pnpm-lock.yaml
Due: none
