Repository DASPRiD/taxum: changes, and which Codecov flags are due for each by the changed paths.
All: Core, FS, JWT

fix(jwt): allow GetKey function as key parameter
  packages/docs/src/guide/addons/jwt.md
  packages/jwt/src/index.ts
Due: JWT

fix(core): bump dependencies
  .github/workflows/release-please.yml
  packages/core/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: Core

fix: update repository URL casing
  packages/cookie/package.json
  packages/core/package.json
  packages/fs/package.json
  packages/jwt/package.json
Due: Core, FS, JWT

docs: add llms.txt
  packages/docs/.vitepress/config.mts
  packages/docs/package.json
  packages/docs/src/guide/addons/cookie.md
  packages/docs/src/guide/addons/fs.md
  packages/docs/src/guide/addons/jwt.md
  packages/docs/src/guide/core-concepts/error-handling.md
  packages/docs/src/guide/core-concepts/extensions.md
  packages/docs/src/guide/core-concepts/extract-handlers.md
  packages/docs/src/guide/core-concepts/handlers.md
  packages/docs/src/guide/core-concepts/logging.md
  packages/docs/src/guide/core-concepts/middleware.md
  packages/docs/src/guide/core-concepts/nesting.md
  packages/docs/src/guide/core-concepts/testing.md
  packages/docs/src/guide/getting-started.md
  packages/docs/src/guide/middleware/client-ip.md
  packages/docs/src/guide/middleware/compression.md
  packages/docs/src/guide/middleware/cors.md
  packages/docs/src/guide/middleware/decompression.md
  packages/docs/src/guide/middleware/limit.md
  packages/docs/src/guide/middleware/request-id.md
  packages/docs/src/guide/middleware/sensitive-headers.md
  packages/docs/src/guide/middleware/set-header.md
  packages/docs/src/guide/middleware/trace.md
  pnpm-lock.yaml
Due: none

style: run biome fix
  packages/docs/.vitepress/config.mts
Due: none

fix(core): prevent host injection
  packages/core/src/http/request.ts
  packages/core/src/server/index.ts
  packages/core/test/http/request.test.ts
  packages/core/test/server/index.test.ts
Due: Core

chore(docs): bump dependencies
  packages/docs/package.json
  pnpm-lock.yaml
Due: none

fix(core): allow host headers with default ports
  packages/core/src/http/request.ts
  packages/core/test/http/request.test.ts
Due: Core

fix(core): do not stringify HTML responses as JSON
  packages/core/src/http/common.ts
  packages/core/test/http/common.test.ts
Due: Core

feat(core): replace whatwg-mimetypes with native node:utils
  package.json
  packages/core/package.json
  packages/core/src/extract/json.ts
  packages/docs/package.json
  packages/examples/package.json
  packages/fs/package.json
  packages/jwt/package.json
  pnpm-lock.yaml
Due: Core, FS, JWT

chore: run cargo check
  packages/core/src/service/index.ts
  packages/docs/.vitepress/theme/style.css
Due: Core

feat(core): add charset parameter to HTML response header
  packages/core/src/http/common.ts
  packages/core/test/http/common.test.ts
Due: Core

feat(cookie): accept Temporal.Instant as expires value
  packages/cookie/src/cookie.ts
  packages/cookie/test/cookie.test.ts
Due: none

fix(core): use string | undefined for hostname type
  packages/core/src/server/index.ts
Due: Core

chore: add CLAUDE.md for Claude Code guidance
  CLAUDE.md
Due: none

fix(cookie): preserve sameSite and partitioned in Cookie.withValue()
  packages/cookie/src/cookie.ts
  packages/cookie/test/cookie.test.ts
Due: none

refactor(cookie): replace temporal-spec global import with structural types
  packages/cookie/package.json
  packages/cookie/src/cookie.ts
  pnpm-lock.yaml
Due: none

fix(core): rename eror-handler.ts to error-handler.ts
  packages/core/src/util/catch-error.ts
  packages/core/src/util/error-handler.ts
  packages/core/src/util/index.ts
Due: Core

fix(fs): correct EACCESS typo to EACCES
  packages/fs/src/serve-dir.ts
  packages/fs/test/serve-dir.test.ts
Due: FS

fix: add missing cookie scope to PR title validation
  .github/workflows/conventional-pr-title.yml
Due: none

chore: update CI to Node 24 and latest GitHub Action versions
  .github/workflows/conventional-pr-title.yml
  .github/workflows/docs.yml
  .github/workflows/release-please.yml
  .github/workflows/test.yml
Due: none

chore: upgrade to TypeScript 6, update dependencies, and remove node-mock-http
  .npmrc
  package.json
  packages/cookie/package.json
  packages/cookie/tsconfig.build.json
  packages/cookie/tsconfig.json
  packages/core/package.json
  packages/core/src/service/index.ts
  packages/core/test/http/request.test.ts
  packages/core/test/http/response.test.ts
  packages/core/test/mock-http.ts
  packages/core/tsconfig.build.json
  packages/core/tsconfig.json
  packages/docs/package.json
  packages/docs/tsconfig.json
  packages/examples/tsconfig.json
  packages/fs/tsconfig.build.json
  packages/fs/tsconfig.json
  packages/jwt/package.json
  packages/jwt/tsconfig.build.json
  packages/jwt/tsconfig.json
  pnpm-lock.yaml
Due: Core, FS, JWT

chore: add codecov coverage thresholds
  codecov.yml
Due: none

fix(docs): add type declarations for CSS imports
  packages/docs/.vitepress/env.d.ts
Due: none

feat(core): add Server-Sent Events (SSE) support
  packages/core/package.json
  packages/core/src/sse/event.ts
  packages/core/src/sse/index.ts
  packages/core/src/sse/sse.ts
  packages/core/test/sse/event.test.ts
  packages/core/test/sse/sse.test.ts
  packages/docs/.vitepress/config.mts
  packages/docs/src/guide/core-concepts/sse.md
Due: Core

fix(fs): close file handle on range errors in ServeDir
  packages/fs/src/serve-dir.ts
  packages/fs/test/serve-dir.test.ts
Due: FS

fix(core): destroy body stream on client abort in HttpResponse.write
  packages/core/src/http/response.ts
  packages/core/test/http/response.test.ts
Due: Core

chore(docs): bump transitive deps to patch 6 dependabot alerts
  packages/docs/package.json
  pnpm-lock.yaml
Due: none

fix(core): swallow more client-abort errors in HttpResponse.write
  packages/core/src/http/response.ts
Due: Core

chore(deps): bump safe transitive and dev deps
  package.json
  packages/core/package.json
  packages/docs/package.json
  packages/examples/package.json
  packages/jwt/package.json
  pnpm-lock.yaml
Due: Core, JWT

ci: bump action majors to latest
  .github/workflows/docs.yml
  .github/workflows/release-please.yml
  .github/workflows/test.yml
Due: none

chore: migrate to pnpm 11
  package.json
  pnpm-workspace.yaml
Due: none

build: drop root build script for pnpm 11 publish
  CLAUDE.md
  package.json
Due: none

fix(core): close connections properly during graceful shutdown
  packages/core/src/server/index.ts
  packages/core/test/server/index.test.ts
Due: Core

fix(core): close connections properly during graceful shutdown (#55)
  packages/core/src/server/index.ts
  packages/core/test/server/index.test.ts
Due: Core

fix(core): preserve connectInfo when middleware rebuilds requests
  packages/core/src/middleware/decompression.ts
  packages/core/src/middleware/limit.ts
  packages/core/test/middleware/decompression.test.ts
  packages/core/test/middleware/limit.test.ts
Due: Core

fix(core): preserve connectInfo when middleware rebuilds requests (#57)
  packages/core/src/middleware/decompression.ts
  packages/core/src/middleware/limit.ts
  packages/core/test/middleware/decompression.test.ts
  packages/core/test/middleware/limit.test.ts
Due: Core

feat(core): expose disconnect and shutdown signals to request handlers
  packages/core/src/server/index.ts
  packages/core/test/server/index.test.ts
  packages/docs/.vitepress/config.mts
  packages/docs/src/guide/core-concepts/graceful-shutdown.md
Due: Core

feat(core): expose disconnect and shutdown signals to request handlers (#58)
  packages/core/src/server/index.ts
  packages/core/test/server/index.test.ts
  packages/docs/.vitepress/config.mts
  packages/docs/src/guide/core-concepts/graceful-shutdown.md
Due: Core

feat(core): store connect info as request extension
  packages/core/src/http/request.ts
  packages/core/src/middleware/client-ip.ts
  packages/core/test/http/request.test.ts
  packages/core/test/middleware/client-ip.test.ts
  packages/docs/src/guide/middleware/client-ip.md
Due: Core

Path conditions:
  Core: any of: packages/core/**
  FS: any of: packages/fs/**
  JWT: any of: packages/jwt/**
